.form-popup {
  position: fixed;
  width: 320px;
  min-height: 568px;
  background-color: #ffffff;
  margin-top: 49px;
  margin-bottom: 50px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  display: none;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
  z-index: 5;
  transition: all 0.8s ease 0s;
}

.form-popup__content {
  max-width: 320px;
  background-color: #ffffff;
  padding: 20px;
}

.form-popup.open {
  // opacity: 1;
  //visibility: visible;
}

/*.form-popup:target {
  opacity: 1;
  visibility: visible;
}*/

.form-popup__title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  line-height: 42.5px;
  letter-spacing: 0.4px;
}

.form-popup__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-popup__item {
  margin-bottom: 21px;
}

.form-popup__input {
  width: 98%;
  margin: 0 auto;
  height: 45px;
  color: #48494d;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #d7d9df;
  text-indent: 15px;
  letter-spacing: 1.4;
  position: relative;

  &:hover {
    outline: none;
  }

  &:active,
  &:focus {
    border: 2px solid $color-basic;
    outline: none;
    margin: 0;
  }
}

.form-popup__input:before {
  content: "*";
  color: $color-basic;
  position: absolute;
}

.form-popup__button {
  width: 100%;
  margin: 0 auto;
  padding: 19px 0;
  letter-spacing: 2px;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;

  &:active {
    color: $color-active;
  }
}
.form-popup__close {
  position: absolute;
  right: 50px;
  top: 50px;
  color: #fbf8f8;
}

.form-popup__close {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.form-popup__close::before,
.form-popup__close::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 2;
  background-color: #fbf8f8;
  height: 2px;
  top: 25px;
  right: 14px;
}

.form-popup__close::before {
  transform: rotate(45deg);
}

.form-popup__close::after {
  transform: rotate(-45deg);
}

.form-popup__close:hover::before,
.form-popup__close:hover::after,
.form-popup__close:focus::before,
.form-popup__close:focus::after {
  background-color: $color-basic;
  opacity: 1;
}

.form-popup__close:active::before,
.form-popup__close:active::after {
  background-color: $color-basic;
}

.modal-show {
  display: block;
}
