.more {
  width: 100%;
  margin-top: 4px;
  box-sizing: border-box;
}

.more__container {
  width: 100%;
  margin: 0 auto;
}

.more__list {
  list-style: none;
  margin: 0;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: flex;
  padding: 0 100px 0 0;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);
  width: calc(100vw - 126px);
  overflow-x: auto;
  left: 15px;
}

.more__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: rgba(44, 46, 63, 0.5);
  display: block;
  cursor: pointer;
  padding-bottom: 15px;
}

.more__link-box {
  display: block;
}

.more__link--active {
  color: $color-basic;
  display: block;
  cursor: pointer;
}

.more__item-title {
  flex-shrink: 0;
  padding-right: 100px;
}

.more__list-block {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  flex-direction: row;
  position: relative;
}

.more__item {
  display: none;
}

.more__item--active {
  display: flex;
  flex-direction: column;
}

.more__title {
  max-width: 250px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: $color;
  margin: 26px auto 20px;
}

.more__item--active .more__title {
color: $color-basic;
}

.more__text {
  margin: 0 auto;
  letter-spacing: -0.47px;
  font-size: 16px;
  color: rgba(44, 46, 63, 0.7);
  line-height: 28px;
  font-weight: 400;
}

.more__button {
  width: 288px;
  margin: 0 auto;
  color: #ffffff;
  padding: 19px 0;
  letter-spacing: 2px;
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 19px auto 48px;
}

.more__img {
  display: block;
  width: 100%;
  height: 414px;
}
.more__wrap {
  width: 100%;
  position: relative;
  z-index: -1;
}

.more__block {
  width: 268px;
  min-height: 431px;
  background-color: #ffffff;
  position: absolute;
  z-index: 2;
  top: 48px;
  left: 50%;
  transform: translateX(-135px);
}

.more__img {
  width: 100%;
  height: 415px;
}

.more__block-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: $color;
  padding-bottom: 17px;
  position: relative;
  padding-top: 17px;
}

.more__link-box {
  display: block;
  padding: 0 15px;
}

.more__block-title::before {
  content: "";
  position: absolute;
  right: 100px;
  bottom: 6px;
  left: 100px;
  height: 1px;
  background-color: $color-basic;
}

.more__block-text {
  width: 85%;
  margin: 0 auto;
  letter-spacing: -0.4px;
  font-size: 14px;
  color: rgba(44, 46, 63, 0.7);
  line-height: 28px;
  padding-bottom: 20px;
  font-weight: 400;
}

.more__block-img {
  width: 97%;
  margin: 0 auto;
  display: block;
  letter-spacing: -0.47px;
  line-height: 24px;
  font-weight: 500;
  padding-top: 44px;
}

.block-one {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 38px;
    width: 38px;
    background-image: url("../img/greec-oval.png");
    background-position: 1px 0;
    z-index: 3;
    right: 113px;
    top: -5px;
  }
}
.block-two {
  position: relative;
}

.block-two::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 38px;
  width: 38px;
  background-image: url("../img/alb-oval.png");
  background-position: 1px 0;
  right: 113px;
  top: -5px;
  z-index: 3;
}

.block-three {
  position: relative;
}

.block-three::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 38px;
  width: 38px;
  background-image: url("../img/maked-oval.png");
  background-position: 1px 0;
  right: 113px;
  top: -5px;
  z-index: 3;
}

.block-four {
  position: relative;
}

.block-four::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 38px;
  width: 38px;
  background-image: url("../img/monten-oval.png");
  background-position: 1px 0;
  right: 113px;
  top: -5px;
  z-index: 3;
}

.block-five {
  position: relative;
}

.block-five::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 38px;
  width: 38px;
  background-image: url("../img/chorv-oval.png");
  background-position: 1px 0;
  right: 113px;
  top: -5px;
  z-index: 3;
}

@media (min-width: $tablet-width) {
  .more {
    margin-top: 85px;
  }

  .more__item-title {
    padding: 0 81px 0 0;
  }

  .more__link-box {
    padding: 0 25px 20px 25px;
  }

  .more__title {
    font-size: 30px;
    line-height: 45px;
    margin-top: 34px;
    padding-bottom: 0px;
  }

  .more__text {
    color: rgba(44, 46, 63, 0.7);
    font-weight: 400;
  }

  .more__button {
    padding: 18px 0;
    width: 250px;
    margin: 0px auto 30px;
  }

  .more__wrap {
    width: 100%;
    top: 0;
  }

  .more__block {
    width: 382px;
    min-height: 367px;
    top: 80px;
    transform: translateX(-190px);
  }

  .more__block-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 36.6px;
    padding: 6px 0 8px 30px;
    text-align: left;
    letter-spacing: -0.6px;
  }

  .more__block-title::before {
    content: "";
    right: 284px;
    bottom: -5px;
    left: 30px;
    height: 1px;
  }

  .more__block-text {
    margin: 0 auto;
    letter-spacing: -0.2px;
    text-align: left;
    padding-bottom: 20px;
    font-weight: 400;
  }

  .more__block-img {
    width: 100%;
    font-size: 16px;
    padding-top: 21px;
    text-align: left;
    padding-left: 84px;
  }

  .block-one:before,
  .block-two:before,
  .block-three:before,
  .block-four:before,
  .block-five:before {
    content: "";
    right: 398px;
    top: 11px;
  }
}

@media (min-width: $desktop-width) {
  .more {
    margin-top: 0;
    position: relative;
  }

  .more:before {
    content: "";
    width: 100%;
    min-height: 1088px;
    background-image: url("../img/map-big.png");
    position: absolute;
    top: 131px;
    right: 50%;
    transform: translateX(50%);
    z-index: -1;
  }

  .more__container {
    padding: 0;
    width: 901px;
}

  .more__list {
    width: 100%;
    padding-right: 0;
  }

  .more__item-title {
    padding-right: 0 92px 0 0;
  }

  .more__map {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 59px;
  }

  .more__link-box {
    width: 32%;
    padding-left: 0;
  }

  .more__title {
    width: 20%;
    font-size: 55px;
    line-height: 90px;
    text-align: left;
    margin-left: 0;
    position: relative;
    letter-spacing: -0.6px;
    padding-bottom: 26px;
  }

  .more__title:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: $color-basic;
    top: 105px;
    left: 0;
  }

  .more__wrap {
    width: 59%;
    top: -546px;
    left: 50%;
    transform: translateX(-112px);
  }

  .more__list-block {
    width: 100%;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }

  .more__text {
    width: 100%;
    margin-left: 0;
    text-align: left;
    padding-bottom: 48px;
    letter-spacing: -0.3px;
  }

  .more__button {
    width: 252px;
    padding: 32px 0;
    margin-left: 0;
  }

  .more__block {
    width: 386px;
    min-height: 368px;
    top: 112px;
    transform: translateX(-31px);
  }

  .more__block-text {
    width: 83%;
  }

  .more__img {
    width: 430px;
    height: 596px;
  }
}

@media (min-width: $desktop-width-only) {
  .more {
    margin-top: 15px;
  }

  .more__container {
    margin-left: 362px;
  }

  .more:before {
    content: "";
    width: 1444px;
  }

  .more__list {
    margin: 0;
  }

  .more__item-title {
    padding-right: 92px;
  }

  .more__map {
    max-width: 1173px;
   }
}
