.site-list__item {
  position: relative;
}

.site-list__link:first-child {
  margin-bottom: 30px;
}

.site-list__link {
  padding: 18px 20px 18px 20px;
  font-family: $font-family;
  display: block;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  color: #48494d;
  background-color: #fbf8f8;

  &:focus,
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__icon {
  min-height: 12px;
  width: 8px;
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  background-size: cover;
  display: block;
  z-index: 1;
  top: 20px;
  right: 32px;
}

.site-list__item:last-child {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list__link {
    padding: 24px 0px 21px 0;
  }

  .site-list__item:first-child {
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
  }
  .site-list__item:last-child {
    border-bottom: none;
  }

  .site-list__item {
    border-top: none;
    border-bottom: none;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;

    &--active {
      color: $color-basic;
    }
    &:hover {
      color: $color-basic;
    }
  }

  .site-list__item a[href] {
    &:hover {
      color: $color-basic;
    }

    &:active {
      color: $color-basic;
    }
  }

 .site-list__item:last-child {
    display: block;
  }

  .site-list__link {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #48494d;
    background-color: inherit;
    mix-blend-mode: normal;
    padding-top: 32px;
    letter-spacing: 0.9px;
    z-index: 1;

    &:focus,
    &:hover,
    &:active {
      color: $color-basic;
      cursor: pointer;
    }
  }

  .site-list__link:last-child {
    font-size: 16px;
    line-height: 22px;
    text-decoration: underline;
  }

 
  .site-list__item:nth-child(2) {
    padding-right: 93px;
  }
 .site-list__item:nth-child(1){
  padding-right: 38px;
 }

  .site-list__icon {
    display: none;
  }

  .site-list__link:first-child {
    margin-bottom: 0;
  }

  .site-link-phone {
    position: absolute;
    fill: #48494d;
    left: -46px;
    top: 20px;
    width: 35px;
    height: 27px;

    &:focus,
    &:hover,
    &:active {
      color: $color-basic;
      cursor: pointer;
    }
  }
}
