.form-popup-1 {
  width: 728px;
  min-height: 444px;
  background-color: #fbf8f8;
 display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
   text-align: center;
  border-radius: 5px;
    z-index: 1000;
  }

  .modal--active {
    display: block;
}

